# Hello Folium

folium test using local authority total urban population data.  Map displays the total urban population.

Data from ONS

In [1]:
from IPython.display import HTML
import folium
import geopandas as gpd
import pandas as pd

In [2]:
polys = "data/la_ruralurban_wgs84.geojson"

gdf = gpd.read_file(polys)
gdf['geometry'] = gdf.simplify(0.001, preserve_topology=True)
data = pd.DataFrame(gdf.drop(columns='geometry'))

gdf.head()

,objectid,lad17cd,lad17nm,tupopl,geometry
0,1,E06000001,Hartlepool,86114,(POLYGON ((-1.26844117388882 54.72610606353965...
1,2,E06000002,Middlesbrough,134521,(POLYGON ((-1.24388912492707 54.58935059873627...
2,3,E06000003,Redcar and Cleveland,77506,(POLYGON ((-1.137563465253006 54.6457977349063...
3,4,E06000004,Stockton-on-Tees,153395,(POLYGON ((-1.31727126859867 54.64479207927998...
4,5,E06000005,Darlington,85917,POLYGON ((-1.637667535426974 54.61712823618399...

In [3]:
m = folium.Map([52.974, -1.495], zoom_start=6)

m.choropleth(
    geo_data=gdf,
    name='Total Urban Population',
    data=data,
    columns=["lad17nm", "tupopl"],
    key_on='feature.properties.lad17nm',
    threshold_scale=[0, 50000, 100000, 200000, 500000, 1000000],
    fill_color='YlOrRd',
    fill_opacity=0.7,
    line_opacity=1,
    line_color='white',
    line_weight=0.7,
    legend_name='Total Urban Population',
)

folium.LayerControl().add_to(m)
m.save("hello-folium.html")
#m

In [4]:
HTML('<iframe src=hello-folium.html width=900 height=600></iframe>')